@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #081b29;
    color: white;
}

.header{
    width: 100%;
    padding: 20px 10%;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: overline greenyellow solid;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
    color: aqua;
}

#home{
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid aqua;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 35px;
    font-weight: 700;
}

.home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: aqua;
    margin-top: 10px;
    margin-bottom: 30px;
}

.home-content p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 2opx;
}

.home-content .btn{
    padding: 8px 16px;
    background-color:  #081b29;
    border: 1px solid aqua;
    border-radius: 8px;
    color: aqua;
    margin-top: 15px;
    height: 40px;
    align-content: center;
    margin-left: 30px;
}

.home-content .btn:hover{
    background-color: aqua;
    color: #081b29;
    font-size: 15.5px;
}

img{
    max-width: 40%;
    border: 1px solid white;
    border-radius: 200px;
    margin-left: 150px;
}

.foot-icons ul li{
    color: white;
}

#about{
    margin: 20px;
    padding: 10px;
    max-width: 100%;
    
}

.about-contents h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: 600px;
    margin-right: 530px;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;

}

.about-contents h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    color: aqua;
}

.about-contents p{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

#skills{
    margin: 20px;
    padding: 10px;
    max-width: 100%;  
}

.my-skills h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: 600px;
    margin-right: 540px;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
}

.my-skills p{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.my-skills ul{
    padding: 10px 40px;
}



.contact-head h1{
    font-weight: 700;
    font-size: 50px;
    margin-left: 600px;
    margin-right: 560px;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
 
}

.container{
    border: 1px solid aqua;
    margin: auto;
    width: 40%;
    background-color: white;
}

.form-field{
    padding: 40px;
}

.form-details{
    color: black;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 12px 28px;
    margin: 8px 0;
    border: 1px solid white;
    background-color: #081b29;
    color: white;
   
}

.btn1{
    /*display: block;
    width: 100%;*/
    background-color: white;
    border: none;
    color: black;
    padding: 6px 12px ;
    font-weight: bold;
}

.btn1:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

#icons .foot-icons ul{
    margin: 50px;
    padding-left: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100px;
    list-style: none;
}

.twi,
.lkd,
.wht,
.fb{
    color: white;
}


